*{
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #11999E;
}
h1 {
    color: #66BFBF;
    display: block;
    margin: 0px;
    margin-bottom: 6px;
    font-size: 5rem;
}

h2{
    color: #66BFBF;
    line-height: 5rem;
    font-size: 2rem;
  }
  
  h3{
    color: #11999E;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    
  }

p {
    display: block;
    margin: 0.5px;
    font-size: 1.2rem;
    font-weight: normal;

}

hr{
    border: lightgray .2rem;
    border-style: none none dotted;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.follow {
    position: relative;
    font-size: 1.25rem;
    top: 23rem;
}

.bottom-hr {
    border: lightgray .2rem;
    border-style: none none dotted;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    margin-bottom: 4rem;
}

.top-container {
    background-color: #EAF6F6;
    text-align: center;
    width: 100%; 
    min-height: 100vh;
    position: relative;
    font-family: papyrus;
    background-image: url("../img/sunset.jpg"); 
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
    background-size: cover ;
    

}

.middle-container{
    background-color: #ffffff;
    width: 100%;
    min-height: 100vh;
    
}

.bottom-container { 
    background-color: #66BFBF;
    height: 5rem;
    padding: 2.5rem;
   
}

.profile{
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.profile-img {
    margin-top: 6rem;
    border-radius: 50%;
}

.skills {
    width: 50%;
    margin: auto;
}

.skill-row{ 
    text-align: left;
    margin-bottom: 5rem;
    margin-top: 5rem;

}
.skill-row div{
    text-align: left;
}

.gif-talk {
    margin-bottom: 3rem;
    width: 30%;
    float: left;
    margin-right: 35px;
}


.gif-web {
    margin-bottom: 3rem;
    width: 28%;
    float: right;
    margin-left: 30px;
}

.contact-me {
    margin-top: 2.5rem;
}

.profile-img {
    margin-bottom: 2.5rem;
}
    .btn {
        background: #11999E;
        background-image: -webkit-linear-gradient(top, #11999E, #607FA1);
        background-image: -moz-linear-gradient(top, #11999E, #607FA1);
        background-image: -ms-linear-gradient(top, #11999E, #607FA1);
        background-image: -o-linear-gradient(top, #11999E, #607FA1);
        background-image: -webkit-gradient(to bottom, #11999E, #607FA1);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        height: 0;
        line-height: 0;
        color: #FFFFFF;
        font-family: Brush Script MT;
        width: 104px;
        font-size: 22px;
        font-weight: 100;
        padding: 31px;
        -webkit-box-shadow: inset 0 1px 29px 0 #FFFFFF;
        -moz-box-shadow: inset 0 1px 29px 0 #FFFFFF;
        box-shadow: inset 0 1px 29px 0 #FFFFFF;
        text-shadow: 1px 1px 20px #0059A0;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        text-align: center;
        margin-top: 1.5rem;
        margin-bottom: 1.7rem;
        border: solid transparent 1px ;
     }
     
.btn:hover {
        border: solid #05A1FF 1px;
        background: #809CCB;
        background-image: -webkit-linear-gradient(top, #809CCB, #D3D7DB);
        background-image: -moz-linear-gradient(top, #809CCB, #D3D7DB);
        background-image: -ms-linear-gradient(top, #809CCB, #D3D7DB);
        background-image: -o-linear-gradient(top, #809CCB, #D3D7DB);
        background-image: -webkit-gradient(to bottom, #809CCB, #D3D7DB);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        text-decoration: none;

    }


.footer-social-up{
    color: #11999E;
    display: flex;
    justify-content: center;
    margin-top: 23rem;
    
}

.footer-link{
    
    display: flex;
    justify-content: center;
    align-items: center;
  
    
}
.footer-link i{
    font-size: 30px;
    margin-right: 2px;
    
}

.footer-link:not(:last-of-type){
    
    margin-right: 30px;
}


.copyright{
    color: #EAF6F6;
    margin-top: 3.2rem;
    font-size: 1rem;
    line-height: 3rem;
}

